%header.header-nav
  .navlinks-left
    %ul.nav.nav-pills
      %li
        = link_to 'На главную', 'index.html'
  .navlinks-right
    %ul.nav.nav-pills
      %li
        %a{:href => "#"} Учителя
      %li
        %a{:href => "#"} Учебники
      %li
        %a{:href => "#"} Адрес
